<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <form action="/update" method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <label>First Name: </label>
        <br>
        <input name="first_name" type="text" value="{{user.first_name}}">
        <br>
        <label>Last Name: </label>
        <br>
        <input name="last_name" type="text" value="{{user.last_name}}">
        <br>
        <label>Email: </label>
        <br>
        <input name="email" type="text" value="{{user.email}}">
        <br>
        <button type="submit">Update</button>
    </form>
    <a href="/show/{{user.id}}">Show User</a>
    <br>
    <a href="/users">Home</a>
</body>
</html>