<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Add a New User</h1>
    <form action="/create_user" method="POST">
        <label>First Name: </label>
        <br>
        <input name="first_name" type="text">
        <br>
        <label>Last Name: </label>
        <br>
        <input name="last_name" type="text">
        <br>
        <label>Email: </label>
        <br>
        <input name="email" type="text">
        <br>
        <button type="submit">Create</button>
    </form>
</body>
</html>